# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [8]:
part1_df = pd.read_csv("clean_city_data.csv")
part1_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,0,Roald,100,NO,1594698246,87,62.58,6.13,53.60,3.36
1,1,Maltahöhe,0,NaN,1594698246,87,-24.83,16.98,34.36,3.67
2,2,Tuktoyaktuk,20,CA,1594698247,52,69.45,-133.04,64.40,5.82
3,3,Atuona,44,PF,1594698120,78,-9.80,-139.03,79.36,16.46
4,4,Saint-Joseph,37,RE,1594698100,68,-21.37,55.62,66.20,4.70
...,...,...,...,...,...,...,...,...,...,...
541,554,Gogrial,45,SS,1594698371,89,8.53,28.10,71.83,3.29
542,555,Rjukan,100,NO,1594698371,99,59.88,8.59,54.00,5.01
543,556,Jacareacanga,82,BR,1594698371,90,-6.22,-57.75,73.49,0.07
544,557,Menongue,0,AO,1594698372,57,-14.66,17.69,43.39,2.77
545,558,Haines Junction,100,CA,1594698372,47,60.75,-137.51,58.35,6.06

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [9]:
gmaps.configure(api_key=g_key)

In [10]:
locations = part1_df[["Latitude","Longitude"]]
humidity = part1_df["Humidity"]
gmap_figure = gmaps.figure()
heatmap = gmaps.heatmap_layer(locations, weights=humidity, point_radius=3) 
gmap_figure.add_layer(heatmap)
gmap_figure

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [11]:
new_weather = part1_df.loc[(part1_df["Max Temp"]<80)&(part1_df["Max Temp"]>70)&(part1_df["Wind Speed"]<10)&(part1_df["Cloudiness"]==0)].dropna()
new_weather

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
54,54,Ekibastuz,0,KZ,1594698258,50,51.67,75.37,76.37,9.04
199,203,Tūkrah,0,LY,1594698173,82,32.53,20.58,75.69,9.33
222,227,Santa Isabel Rio Negro,0,BR,1594698129,88,-0.41,-65.02,73.08,1.70
291,297,Roquetas de Mar,0,ES,1594698312,53,36.76,-2.61,77.00,8.05
323,331,Maţāy,0,EG,1594698319,66,28.42,30.78,73.06,7.25
327,335,Mehrān,0,IR,1594698320,25,33.12,46.16,77.00,4.70
334,342,Tiznit Province,0,MA,1594698043,58,29.58,-9.50,71.83,2.13
390,400,La Palma del Condado,0,ES,1594698336,73,37.39,-6.55,75.20,4.70
406,416,Sergeevka,0,KZ,1594698339,62,53.88,67.42,76.17,1.23
449,459,Contamana,0,PE,1594698349,89,-7.33,-75.02,72.59,1.12
510,521,Abu Samrah,0,SY,1594698363,63,35.30,37.18,74.28,9.26
540,553,Fendou,0,CN,1594698370,51,45.20,130.92,79.38,4.29

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [12]:
hotel_df = new_weather[["City","Country","Latitude","Longitude"]].copy()
hotel_df["Hotel Name"] =""
hotel_df

                       City Country  Latitude  Longitude Hotel Name
54                Ekibastuz      KZ     51.67      75.37
199                  Tūkrah      LY     32.53      20.58
222  Santa Isabel Rio Negro      BR     -0.41     -65.02
291         Roquetas de Mar      ES     36.76      -2.61
323                   Maţāy      EG     28.42      30.78
327                  Mehrān      IR     33.12      46.16
334         Tiznit Province      MA     29.58      -9.50
390    La Palma del Condado      ES     37.39      -6.55
406               Sergeevka      KZ     53.88      67.42
449               Contamana      PE     -7.33     -75.02
510              Abu Samrah      SY     35.30      37.18
540                  Fendou      CN     45.20     130.92

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure